{% block form_row %}
    {% spaceless %}
        <div class="col-lg-{{form.vars.attr.bt_size|default('12')}}">
            <div class="form-group {% if not form.vars.valid %}has-error{% endif %}">
            {{ form_label(form) }}
            {{ form_widget(form, { 'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block checkbox_row %}
    {% spaceless %}
        <div class="col-lg-{{form.vars.attr.bt_size|default('12')}}">
            <div class="form-group {% if not form.vars.valid %}has-error{% endif %}">
                <div class="checkbox">
                    <label>
                        {{ form_widget(form) }}{{ form_label(form) }}
                    </label>
                </div>
            {{ form_errors(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock checkbox_row %}

{% block checkbox_label %}
    {{ label }}
{% endblock checkbox_label %}

{% block textarea_widget %}
	{% spaceless %}
    <textarea {{ block('widget_attributes') }} >{% if value is not empty %}{{ value }}{% endif %}</textarea>
    {% if attr.ckeditor|default('') is not empty %}
        <script>
           CKEDITOR.replace( '{{ full_name }}' );
        </script>
    {% endif %}
	{% endspaceless %}
{% endblock textarea_widget %}

{%- block password_widget -%}
    {%- set type = type|default('password') -%}
    {{ block('form_widget_userpassword') }}
{%- endblock password_widget -%}

{%- block form_widget_userpassword -%}
    <input type="password" {{ block('widget_attributes') }} value="5fghsr5hwth"/>
{%- endblock form_widget_userpassword -%}

{% block preview_widget %}
	{% spaceless %}
    
	<div class="preview_field">
        <div id="preview_file_name"></div>
		<a href="javascript:void(0)"><img class="img-responsive" src="/{% if value %}{{attr.path}}{{ value }}{% else %}images/no-preview-big.jpg{% endif %}" /></a>
        <input id="preview_fiels" type="hidden" {{ block('widget_attributes') }} value="{{ value }}" >
		<input  type="file" style="display: none" name="{{ name }}" >
        <div class="img-btn">
            <button id="add_img" type="button" class="btn btn-primary btn-circle btn-lg" {% if value %}style="display: none"{% endif %}><i class="fa fa-file-o"></i></button>
            <button id="edit_img" type="button" class="btn btn-success btn-circle btn-lg" {% if not value %}style="display: none"{% endif %}><i class="fa fa-edit"></i></button>
            <button id="del_img" type="button" class="btn btn-danger btn-circle btn-lg" {% if not value %}style="display: none"{% endif %}><i class="fa fa-trash-o"></i></button>
        </div>

    </div>

	{% endspaceless %}
{% endblock preview_widget %}
    
{% block mac_widget %}
    <input rel="mac" type="text" {{ block('widget_attributes') }} value="{{ value }}" />
{% endblock mac_widget %}

{% block ip_widget %}
    <input rel="ip" type="text" {{ block('widget_attributes') }} value="{{ value }}" />
{% endblock ip_widget %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
				<label class="control-label" for="inputError">{{ error.message }}</label>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}




